# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# Saídas do app
uploads/
relatorios_gerados/

# VSCode/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
